<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ViewFinder copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ViewFinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C72D95A1D2EFD8D00C3D707</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CE441061D18A599009A7DC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CE4411D1D18A599009A7DC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CE441281D18A599009A7DC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
