[submodule "ViewFinder/tensorflow"]
	path = ViewFinder/tensorflow
	url = https://github.com/tensorflow/tensorflow
[submodule "ViewFinder/azure-storage-ios"]
	path = ViewFinder/azure-storage-ios
	url = https://github.com/azure/azure-storage-ios
