[submodule "ViewFinder/tensorflow"]
	path = ViewFinder/tensorflow
	url = https://github.com/tensorflow/tensorflow
[submodule "ViewFinder/azure-storage-ios"]
	path = ViewFinder/azure-storage-ios
	url = https://github.com/azure/azure-storage-ios
[submodule "ViewFinder/Caffe"]
	path = ViewFinder/Caffe
	url = https://msrccsdev:test1234@github.com/msrccs/Caffe.git
	branch = iOSCaffe
